.apartments{
    position: relative;


    &::after{
        position: absolute;
        content: 'III';
        font-family: $font-accent;
        font-size: 400px;
        font-weight: 700;
        z-index: -1;
        top: 0;
        right: calc(50% + 555px);
        transform: translate(50%, 0);
        opacity: 0.02;
        line-height: 1.1;
    }

    &-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        @include mediaTablet{
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        }
    }

    &-title{
        margin-bottom: 88px;

        @include mediaTablet{
            margin-bottom: 44px;
        }
    }

    &-item{
        position: relative;
        cursor: pointer;
        overflow: hidden;
        display: inline-block;

        & img{
            position: relative;
            z-index: 5;
            transition: all ease 0.4s;
        }


        &::before{
            position: absolute;
            z-index: 6;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(36, 43, 51, 0.00) 0%, #242B33 100%);
        }


        &::after{
            opacity: 0;
            z-index: 6;
            position: absolute;
            content: '';
            left: 15px;
            top: 15px;
            right: 15px;
            bottom: 15px;
            border: 3px double rgba(255, 255, 255);
            transition: all ease 0.4s;
        }

        &:hover::after{
            opacity: 1;
        }

        &:hover img{
            transform: scale(1.1);
            filter: contrast(110%) brightness(1.2) saturate(1.2);
        }

        &__text{
            position: absolute;
            bottom: 44px;
            left: 50px;
            font-family: Raleway;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #fff;
            z-index: 7;
            transition: all ease 0.4s;

            @include mediaTablet{
                font-size: 20px;
                bottom: 30px;
                left: 30px;
            }

            &:hover{
                color: $titlecolor;
                cursor: pointer;
            }
        }
    }

    }

