.application{
    padding-top: 180px;
    min-height: 560px;
    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0.00)
     50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.90) 0%, 
     rgba(36, 43, 51, 0.90) 100%), url('./../img/application/application-bg.jpg'), lightgray 50% / cover no-repeat;

     @include mediaTablet{
        padding-top: 60px;
    }
        &-row{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

            @include mediaTablet{
                grid-template-columns: 1fr;
            }
        }

        &-info{


            &__title{
                color: $titlecolor;
                font-family: $font-accent;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 17px;
            }

            &__text{
                font-family: $font-main;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }


        &-form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

            @include mediaTablet{
                grid-template-columns: 1fr;
            }
        }
    }

    .form{

        &-input{
            background-color: rgba(255, 255, 255, 20%);
            padding: 12px;
            height: 50px;
            text-align: center;
            transition: background-color 0.2s ease-in;

            &::placeholder{
                color: #BEBEBE;
                font-family: Raleway;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px;
            }

            &:focus{
                background-color: rgba(255, 255, 255, 25%);
            }
        }

        &-text{
            color: #E7E7E7;
            text-align: center;
            font-family: $font-main;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }

        &-btn{
            background-color: $titlecolor;
            font-family: $font-main;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 27px;
            padding: 12px;
            transition: background-color 0.2s ease-in;

            &:hover{
                background-color: saturate($titlecolor, 15%);
            }
        }
    }
    