.benefits{
    padding-top: 120px;
    margin-bottom: 120px;
    position: relative;
    overflow: hidden;
    

    &::before{
        content: 'II';
        position: absolute;
        font-family: $font-accent;
        font-size: 400px;
        font-weight: 700;
        z-index: -1;
        line-height: 1.15;
        top: 0px;
        left: calc(50% + 555px);
        transform: translate(-10%, 0);
        opacity: 0.02;
    }

    &-row{
        display: flex;
        justify-content: center;
        column-gap: 70px;

        @include mediaTablet{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            gap: 40px 30px;
          }
    }

    &-item{
        display: flex;
        flex-direction: column;
        gap: 53px;
        align-items: center;
        text-align: center;

        &{
            @include mediaTablet{
               gap: 20px;
             }
        }

        & img{
            @include mediaTablet{
               width: 60px;
               height: 60px;
            }
        }


        &__text{
            text-align: center;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 27px;

            @include mediaTablet{
                font-size: 16px;
              }
        }
    }
}