@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway&family=Roboto:wght@300&display=swap');

body{
    font-family: $font-main;
    background-color: $bgcolor;
    color: $textcolor;
}

.container{
    padding: 0 15px;
    width: 1140px;
    margin: 0 auto;
}