@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway&family=Roboto:wght@300&display=swap');

body{
    font-family: $font-main;
    background-color: $bgcolor;
    color: $textcolor;
}

.container{
    padding: 0 15px;
    max-width: 1140px;
    margin: 0 auto;
}


.no-scroll{
    overflow-y: hidden;
}

.title-2{
        font-family: $font-accent;
        color: $titlecolor;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    @include mediaTablet{
        font-size: 28px;
    }
}