// fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-roboto: 'Roboto', sans-serif;
// colors
$bgcolor: #242B33;
$titlecolor: #D4C17F;
$textcolor: #fff;

// Media

$tablet: 959px;